{% extends "base.html" %}
{% block title %}
login
{% endblock %}
{% block main %}
    <h1>This is login Page!</h1>
     <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>班次信息</th>
        <th>
            发车/到达时间
        </th>
        <th>车票价格</th>
        <th>剩余票数</th>
        <th>订票</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="center">DA001</td>
        <td class="center">
            <div>07:46</div>
            <div>12:00</div>
        </td>
        <td class="center">
            <span class="label-success label label-default">一等票 ￥420</span><br/>
            <!--span class="label-info label label-default">二等票 ￥320</span><br/-->
            <!--span class="label-danger label label-default">三等票 ￥220</span><br/-->
        </td>
        <td class="center">
            <a class="btn btn-success" href="#">
                一等票 250张
            </a><br/>
            <!--a class="btn btn-info" href="#">
                 二等票 250张
            </a><br/-->
            <!--a class="btn btn-danger" href="#">
                 三等票 250张
            </a><br/-->
        </td>
        <td class="center">
            <a class="btn btn-danger" href="form.html">订票</a><br/>
        </td>
    </tr>
     <tr>
        <td class="center">DA001</td>
         <td class="center">
            <div>07:46</div>
            <div>12:00</div>
        </td>
        <td class="center">
            <span class="label-success label label-default">一等票 ￥420</span><br/>
            <!--span class="label-info label label-default">二等票 ￥320</span><br/-->
            <!--span class="label-danger label label-default">三等票 ￥220</span><br/-->
        </td>
        <td class="center">
            <a class="btn btn-success" href="#">
                一等票 250张
            </a><br/>
            <!--a class="btn btn-info" href="#">
                 二等票 250张
            </a><br/-->
            <!--a class="btn btn-danger" href="#">
                 三等票 250张
            </a><br/-->
        </td>
        <td class="center">
            <a class="btn btn-danger" href="form.html">订票</a><br/>
        </td>
    </tr>
    <tr>
        <td class="center">DA001</td>
         <td class="center">
            <div>07:46</div>
            <div>12:00</div>
        </td>
        <td class="center">
            <span class="label-success label label-default">一等票 ￥420</span><br/>
            <!--span class="label-info label label-default">二等票 ￥320</span><br/-->
            <!--span class="label-danger label label-default">三等票 ￥220</span><br/-->
        </td>
        <td class="center">
            <a class="btn btn-success" href="#">
                一等票 250张
            </a><br/>
            <!--a class="btn btn-info" href="#">
                 二等票 250张
            </a><br/-->
            <!--a class="btn btn-danger" href="#">
                 三等票 250张
            </a><br/-->
        </td>
        <td class="center">
            <a class="btn btn-danger" href="form.html">订票</a><br/>
        </td>
    </tr>
    </tbody>
    </table>
{% endblock %}
